*.md text eol=lf
*.sh text eol=lf
*.js text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.patch text eol=lf whitespace=-trailing-space
*.tsv text eol=lf
*.txt text eol=lf

*.win binary
*.bps binary
*.xdelta binary
*.mp4 binary
*.ogg binary
*.wav binary
*.exe binary
*.dll binary
*.png binary
*.jpg binary
*.zip binary
*.7z binary
*.rar binary
